version: "3.9"
services:
    www:
        build: .
        ports: 
            - 80:80
        volumes:
            - ./www:/var/www/html/
    db:
        image: mysql:8.0.31
        ports: 
            - 3306:3306
        environment:
            MYSQL_DATABASE: db
            MYSQL_USER: user
            MYSQL_PASSWORD: pass
            MYSQL_ROOT_PASSWORD: root 
        volumes:
            - persistent:/var/lib/mysql
    phpmyadmin:
        image: phpmyadmin:5.2.0
        ports:
            - 82:80
volumes:
    persistent:
