# https://www.slashnode.com/articles/devops/2013-12-24-redirect-all-requests-to-index-php
Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !=/index.php
# RewriteCond %{REQUEST_URI} !.*\.js$ [NC] # how to use files other than php
RewriteRule .* /index.php
